body {
    padding: 0; 
    margin: 0;
    font-size: 12px;
    color: #404040;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../img/body_bg.png') repeat-x;
    background-color: #FFF;
    /*    background-color: #EFEFEF;*/
}

#eadbiotran {
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

#header{
    height: 120px;
    background: url('../img/header.png') no-repeat;
    margin-top: 20px;
}

#div_login{
    height: 40px;
    width: 650px;
    margin-top: 10px;
    position: absolute;
    float: right;
    right: 0;
}

#div_login table{
    font-size: 12px;
}

#recuperar_senha{
    font-size: 11px;
    color: #FFF;
    text-align: right;
    margin-right: 5px;
}

#recuperar_senha a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

#recuperar_senha a:hover{
    border-bottom: 1px solid #fff;
}

#recuperar_senha a:visited, a:active{
    text-decoration: none;
}

#errorlogin{
    font-size: 12px;
    color: #FBCACA;
    text-align: right;
    font-weight: bold;
}

#topmenu{
    height: 40px;
    width: 650px;
    margin-top: 70px;
    position: absolute;
    float: right;
    right: 0;
}

#topmenu ul {
    margin: 10px 0 0 0;
    float: left;
    width: 100%;
    list-style:none;
}

#topmenu ul li { display: inline; }

#topmenu ul li a {
    padding: 0px 20px;
    float:left;
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#topmenu ul li a:hover {
    color: #000;
}

#sliderShow{
    float: right;
    box-shadow: 2px 2px 10px #AAAAAA;
    -moz-box-shadow: 2px 2px 10px #AAAAAA;
    -webkit-box-shadow: 2px 2px 10px #AAAAAA;
}

#menu_destaque{
    width: 320px;
    height: 400px;
    float: left;
    color: #CCCCCC;
}

#menu_destaque ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
}

#menu_destaque li{
    height: 91px;
    width: 320px;
}

#menu_destaque li:hover{
    background-color: #3E7DB3;
    color: #fff;
    border-radius: 20px 0px 0px 20px;
/*    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;*/
}

#menu_destaque ul li a {
    height: 91px;
    width: 320px;
    position: absolute;
    color: #000;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 10px;
    text-shadow:-1px 1px 0px #CCC;
}

#menu_destaque ul li a:hover {
    color: #fff;
    text-shadow:-1px 1px 0px #000;
}

.destaque_item {
/*    font-size: 14px;
    height: 40px;
    width: 300px;*/
}

#content_up{
    margin-top: 40px;
    width: 978px;
    min-height: 430px;
    position: relative;
    /*    border-style: solid;
        border-width: 1px;
        border-color: #DDD;*/
}

#content_down{
    width: 978px;
    min-height: 430px;
    margin-top: 10px;
    margin-bottom: 30px;
    background: url('../img/header_content.png') repeat-x;
}

#content_in{
    width: 908px;
    min-height: 380px;
    position: absolute;
    background-color: #FFF;
    margin: 50px 0 0 35px;
    box-shadow:0px 5px 10px #AAAAAA;
    -moz-box-shadow:1px 1px 4px #AAAAAA;
    -webkit-box-shadow:1px 1px 4px #AAAAAA;
}

#footer{
    height: 150px;
    clear: both;
    background-color: #275175;
}

#content_footer{
    height: 150px;
    width: 980px;
    margin: 0 auto;
    position: relative;
}

.ft-prev {
    background: url('../img/previous_icon.png') no-repeat;
    height: 40px;
    width: 40px;
}

.ft-next {
    background: url('../img/next_icon.png') no-repeat;
    height: 40px;
    width: 40px;
}

.ft-button-slideshowHolder{
    background: url('../img/button_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    color: #fff;
}

.ft-button-slideshowHolder-active{
    background: url('../img/button_icon_active.png') no-repeat;
    height: 18px;
    width: 18px;
    color: #fff;
}

#form_cadastro{
    margin: 10px 30px 0 30px;
}

#form_cadastro tr{
    height: 35px;
}

form.form_cadastro{
    font-family: tahoma,verdana,"sans-serif";
    font-size: 12px;
    width: 98%;
}

.label_cadastro, .label_recuperarSenha{
    font-size: 13px;
}

#form_cadastro .label_cadastro_legend, #form_recuperarSenha .label_recuperarsenha_legend{
    font-size: 11px;
    color: #555555;
}

#form_cadastro legend, #form_recuperarSenha legend{
    font-size: 11px;
    color: #555555;

}

#form_cadastro fieldset, #form_recuperarSenha fieldset{
    border:1px solid #DCDCDC;
}    

.form_cadastro .text-input, .form_recuperarSenha .text-input{
    background: none repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #B5B8C8;
    color: #555555;
    font-size: 14px;
    margin-top: 4px;
    padding: 4px;
    width: 250px;
    border-radius: 8px;
}

#foto_usuario{
    height: 120px;
    width: 100px;
    background-color: #DCDCDC;
    border: solid 1px #B5B8C8;
}

.button{
    font:bold 14px Arial, Helvetica, sans-serif;
    font-style:normal;
    color:#3074c7;
    background:#f2f2f2;
    border:0px solid #ffffff;
    text-shadow:-1px 1px 0px #fff;
    box-shadow:0px 0px 2px #000000;
    -moz-box-shadow:0px 0px 3px #000000;
    -webkit-box-shadow:0px 0px 3px #000000;
    border-radius:10px 10px 10px 10px;
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    width:140px;
    padding:2px 20px;
    cursor:pointer;
    margin:0 auto;
}

.button:active{
    cursor:pointer;
    position:relative;
    top:2px;
}