/* estilos aplicados na parte inicial - controlador index */

/*------------------------estilos gerais-------------------------*/
/**/    *{      font:normal 16px/30px "eras ITC","eras medium ITC";
/**/            margin:0;
/**/            padding:0;
/**/    }
/**/
/**/    body{
/**/
/**/        min-height: 600px;
/**/        min-width: 1024px;
/**/    }
/**/
/**/    ul{
/**/        list-style: none;
/**/    }
/**/
/**/    li{
/**/        min-height: 30px;
/**/    }
/**/
/**/    h4{
/**/        color:#7a7a7a;
/**/        font-size:18px;
/**/        font-weight:600;
/**/        padding-right: 3px;
/**/    }
/**/
/**/    html,body{
/**/        height:100%;
/**/    }
/*-----------------------------------------------------------------*/    
/*-----------------------------------------------------------------*/    


/*--------div que contem a pagina inteira--------------------------*/
/**/    #eadbiotran{
/**/        overflow:auto;
/**/    }
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/


/*-------estilo do fundo do header e de elementos dentro dele------*/
/**/    #header{
/**/        height:110px;
/**/        background-image: url('../img/header_ead_background.png');
/**/        /*            background-color: #2b5880;*/
/**/    }
/**/
/**/        #header *{
/**/            /*color:white;*/
/**/            font-size:22px;
/**/            text-transform: lowercase;
/**/            text-decoration: none;
/**/        }
/**/
/**//*-----------------------------------------------------------*//**/
/**/
/**//*-----menu - home, cursos, contato, fotos, biotran, cadastro-----*/
/**//**/        #topmenu{
/**//**/            position: relative;
/**//**/            height: 100%;
/**//**/            }
/**//**/
/**//**/            #topmenu ul{
/**//**/                position: relative;
/**//**/                padding-top: 60px;
/**//**/                list-style: none;
/**//**/                float:right;
/**//**/                text-align: center;
/**//**/            }
/**//**/
/**//**/                #topmenu ul li{
/**//**/                    display: inline;
/**//**/                    height: 50px;
/**//**/                    float:left;
/**//**/                    width:112px;
/**//**/                }
/**//**/
/**//**/                #topmenu ul li:hover{
/**//**/                    background-image: none;
/**//**/                    background-color: #ffffff;
/**//**/                }
/**//**/
/**//**/                    #topmenu ul li:hover a{
/**//**/                        color:#333;
/**//**/                    }
/**//**/
/**//**/        .detalhe_right{
/**//**/            background-image: url('../img/dark_blue_detalhe_menu.png');
/**//**/            width:1px;
/**//**/            height:50px;
/**//**/            float:right;
/**//**/        }
/**//**/
/**//**/        .detalhe_left{
/**//**/            background-image: url('../img/light_blue_detalhe_menu.png');
/**//**/            width:1px;
/**//**/            height:50px;
/**//**/            float:left;
/**//**/        }
/**//**/
/**//**/
/**//**/        .menu_holder{
/**//**/            padding:10px;float: left;text-align: center;
/**//**/            position:relative;
/**//**/            width:90px;
/**//**/        }
/**//**/
/**//**//*----------fundo e cor letra do item do menu selecionado-------------*/
/**//**/        .selecionado{
/**//**/            background-color: #ffffff;
/**//**/            color:#333;
/**//**/        }
/**//**/
/**//**/            .selecionado a{
/**//**/                color:#333;
/**//**/            }
/**//**//*--------------------------------------------------------------------*/
/**//**//*----------fundo e cor letra dos itens nao selecionados--------------*/
/**//**/        .n_selecionado{
/**//**/            background-image: url('../img/menu_header_background.png');
/**//**/            background-repeat: repeat-x;
/**//**/            color:#333;
/**//**/        }
/**//**/
/**//**/            .n_selecionado a{
/**//**/                color:white;
/**//**/            }
/**//**//*--------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/


#content_right_holder{
        overflow: auto;
        padding:12px;
        float:left;
        clear:right;
        height: 100%;
    }
    #sliderShow{

        float: left;
        border:3px solid #275175;
    }
    #content_left_holder{
        padding:12px;
        float:left;
     
    }

    #content_center_holder{
        border-left: 1px solid #CCC;

        float:left;

        min-width:600px;

        

        height:100%;
        border-right: 1px solid #CCC;
        box-shadow: 2px 2px 2px #888888; 
        -webkit-box-shadow:2px 2px 2px #888888;
        -moz-box-shadow:2px 2px 2px #888888;
        -ms-box-shadow:2px 2px 2px #888888;
        -o-box-shadow: 0 1px 0 0 #3871a1 inset;
    }

    #sliderShow{
        position:relative;
        left:50%;
        margin-left: -252px;
    }

    
    #content_up{
        
        padding:20px 0px;
    }

    #button_login{
        background-color: #23496a;
        /*    background: -webkit-gradient(linear, left top, left bottom, from(#23056a), to(#23496a));
            background: -webkit-linear-gradient(top, #23056a, #23496a);
            background: -moz-linear-gradient(top, #23056a, #23496a);
            background: -ms-linear-gradient(top, #23056a, #23496a);
            background: -o-linear-gradient(top, #23056a, #23496a);
            background: linear-gradient(top, #23056a, #23496a);*/
        border: 1px solid #1b3952;    
        border-bottom: 1px solid #23496a;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        box-shadow: 2px 2px 2px #888888, inset 0 1px 0 0 #3871a1;
        -webkit-box-shadow:2px 2px 2px #888888, 0 1px 0 0 #3871a1 inset ;
        -moz-box-shadow:2px 2px 2px #888888, 0 1px 0 0 #3871a1 inset;
        -ms-box-shadow:2px 2px 2px #888888, 0 1px 0 0 #3871a1 inset;
        -o-box-shadow: 0 1px 0 0 #3871a1 inset;
        color: white;
        font-size:15px;
        font-weight: 500;
        padding: 3px 15px;
        text-align: center;

        z-index:5;

    }

    


    #titulo_parceiros{
        background-color: #275175;
    }

    #menu_destaque{
        min-width: 320px;
        width:40%;
        min-height: 400px;
        float: left;
        color: #CCCCCC;
        padding-top:20px;
        padding-left:0px;
    }

    #menu_destaque ul{
        margin:0px;
        padding:0px;
        width:100%;
        position: relative;
    }

    #menu_destaque li{
        height: 91px;
        min-width: 320px;
    }

    /*    #menu_destaque li:hover{
            background-color: #275175;
            color: #fff;
            border-radius: 0px 5px 5px 0px;
                -moz-border-radius:10px 10px 10px 10px;
                -webkit-border-radius:10px 10px 10px 10px;
        }
        #menu_destaque li:hover a{
         
            color: #fff;
          text-shadow:-1px 1px 0px #000;
                -moz-border-radius:10px 10px 10px 10px;
                -webkit-border-radius:10px 10px 10px 10px;
        }*/

    #menu_destaque ul a {
        /*        height: 91px;*/
        min-width: 320px;
        width:100%;
        position: absolute;
        color: #275175;
        text-decoration: none;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        padding: 25px 10px;

        text-shadow:-1px 1px 0px #CCC;
    }

    #menu_destaque ul  a:hover {
        color: #fff;
        text-shadow:-1px 1px 0px #000;
        background-color: #275175;
    }

    #button_login{
        float:right;
    }
    #recuperar_senha{
        float:left;
    }

    #news_holder{
        clear: both;
        padding-top:20px;
    }

    #news_image{
        height: 48px;
        width:183px;
        position: absolute;
        z-index: 3;
        left:10px;
        background-image: url('../img/news_background.png')  ;

    }

    #list_news{
        background: white;
        border:1px solid #e3e3e3;
        height: 300px;
        padding:0px 10px;
    }

    #indice_news{
        width: 100%;
        text-align: center;
    }

    #indice_news h4{
        float:left;
    }

    #patrocinadores_holder{

        margin-top:20px;
    }

    .titulo_holder{
        padding:4px 0px;
        width:200px;
        border-radius: 5px;
        /*        background-color: black;*/

        background: -webkit-gradient(linear, left top, left bottom, from(#0069b5), to(#0564aa));
        background: -webkit-linear-gradient(top, #0069b5, #0564aa);
        background: -moz-linear-gradient(top, #0069b5, #0564aa);
        background: -ms-linear-gradient(top, #0069b5, #0564aa);
        background: -o-linear-gradient(top, #0069b5, #0564aa);
        background: linear-gradient(top, #0069b5, #0564aa);
    }

    .titulo_holder{
        color:white;
        text-align: center;
    }

    

    #form_login ul li h4{
        font-size:16px;
        float:left;
    }

    #div_login{
       
       padding:5px 10px;
        min-height:220px;
        width:160px;
        background-color: #EEE;
        border:1px solid #CCC;
       margin-top:10px;
       margin-left: 10px;
    }

    #coments{
        height:250px;
        width:180px;
        background-color: #EEE;
        border:1px solid #CCC;
        margin:10px 0px 10px 10px;
    }

/*----------------------------------------------------------------------------*/    
/*----footer------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/    
/**/    #footer{
/**/        height: 150px;
/**/        clear: both;
/**/        background-image: url('../img/header_ead_background.png');
/**/        /*    background-color: #275175;*/
/**/    }
/**/
/**/    #content_footer{
/**/        height: 150px;
/**/        width: 980px;
/**/        margin: 0 auto;
/**/        position: relative;
/**/    }
/**/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

