body {
    padding: 0; 
    margin: 0;
    font-size: 12px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    background: url('../img/body_bg.jpg') repeat-x;
    background-color: #EFEFEF;
}

#eadbiotran {
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

#header{
    height: 120px;
    background: url('../img/header.png') no-repeat;
    margin-top: 20px;
}

#login{
    height: 40px;
    width: 650px;
    margin-top: 10px;
    position: absolute;
    float: right;
    right: 0;
}

#login table{
    font-size: 12px;
}

#topmenu{
    height: 40px;
    width: 650px;
    margin-top: 60px;
    position: absolute;
    float: right;
    right: 0;
}

#topmenu ul {
    margin: 10px 0 0 0;
    float: left;
    width: 100%;
    list-style:none;
}

#topmenu ul li { display: inline; }

#topmenu ul li a {
    padding: 0px 20px;
    float:left;
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#topmenu ul li a:hover { color: #000; border-bottom: solid;}

#content_up{
    margin-top: 40px;
    width: 978px;
    height: 430px;
    /*    border-style: solid;
        border-width: 1px;
        border-color: #DDD;*/
}

#content_down{
    width: 978px;
    height: 430px;
    /*    background-color: #CCC;*/
}

#footer{
    height: 150px;
    clear: both;
    background-color: #000;
}

#content_footer{
    height: 150px;
    width: 980px;
    margin: 0 auto;
    position: relative;
}

.ft-prev {
    background: url('../img/previous_icon.png') no-repeat;
    height: 40px;
    width: 40px;
}

.ft-next {
    background: url('../img/next_icon.png') no-repeat;
    height: 40px;
    width: 40px;
}

.ft-button-slideshowHolder{
    background: url('../img/button_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    color: #fff;
}

.ft-button-slideshowHolder-active{
    background: url('../img/button_icon_active.png') no-repeat;
    height: 18px;
    width: 18px;
    color: #fff;
}
