/* CSS do sistema interno - EAD*/

/*----------------- BODY -----------------*/
body {
    background-color: #fff;
    color: #404040;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

textarea{
    resize: none;
}
/*-----------------------------------------*/

/*----------------- TOPBAR ----------------*/
.eadbiotran_topbar{
    height:75px;
    background-image: url('../img/header_ead_background.png');
}

.eadbiotran_topbar a{
    text-decoration: none;
}

.eadbiotran_topbar a:hover{
    border-bottom: 1px solid #fff;
}

.eadbiotran_topbar ul li{
    float:left;
    display:inline;
}

.eadbiotran_navbar_container{
    position:relative;
    height:100%;
}

.eadbiotran_navbar_container ul{
    width:100%;
    padding: 12px 0 0 0;
    margin: 0;
    position: absolute;
}

.labelTopbar_1{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.labelTopbar_2{
    color: #fff;
    font-size: 13px;
}

#pic_topbar{
    background-image: url('../img/dark_blue_ead.png');
    padding:4px;
    margin: 0px 15px;
    height: 42px;
    width: 35px;
}

#menu_topbar{
    margin: 10px 20px 0 15px;
    float: right;
}

#menu_topbar:hover{
    cursor:pointer;
}

#ead_biotran{
    float: right;
    margin-top: 15px;
}

#ead_biotran label:hover{
    cursor: pointer;
}

#menuDrop_topbar{
    display: none;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #016292;
    padding: 10px 30px;
    z-index: 10;
}

#menuDrop_topbar ul{
    padding: 0;
    position: relative;
}

#menuDrop_topbar li{
    padding: 3px 0;
    display:block;
    float:none;
}

#menuDrop_topbar a{
    color: #fff;
    font-size: 14px;
}

#menuDrop_topbar a:hover{
    border-bottom: 1px solid #fff;
}
/*-----------------------------------------*/

/*-- ESTRUTURA LEFTCOLUMN E PAGE-CONTENT --*/
.content_fluid:after {
    clear: both;
}

.content_fluid:before, .content_fluid:after {
    content: "";
    display: table;
}

.content_fluid{
    min-width: 940px;
    position: relative;
    height: 100%;
}

.content_fluid > .leftcolumn{
    position: absolute;
    top: 0;
    width: 210px;
    height: 100%;
    min-height: 700px;
    background-color: #016292;
    padding-top: 10px;
}

.content_fluid > .content {
    margin: 0 20px 0 210px;
    padding-top: 25px;
    background-color: #fff;
    min-height: 700px;
    height: 100%;
}
/*-----------------------------------------*/

/*------------ MENU LEFTCOLUMN ------------*/
.navbar_item {
    padding: 5px 0 5px 30px;
}

#page-leftcolumn a {
    color:#fff;
    text-decoration: none;
    font-size: 15px;
}

#page-leftcolumn ul{
    margin: 0 0 0 -40px;
}

#page-leftcolumn dl {
    margin:0 auto;
    width:100%;
}

#page-leftcolumn dt {
    background-color:#016292;
    padding: 10px 0 10px 5px;
    font-size: 14px;
}

#page-leftcolumn dt:hover {
    background-color:#005077;
}

#page-leftcolumn dd, ul {
    margin:0;
}

#page-leftcolumn ul li {
    background-color:#EFEFEF;
    list-style:none;
    padding: 10px 0 10px 20px;
}

#page-leftcolumn ul li a {
    color:#069;
    padding:5px;
    padding: 5px 0 5px 30px;
    font-size: 13px;
}

#page-leftcolumn ul li a:hover {
    text-decoration: underline;
}

/*ÍCONES MENU*/

.gerenciarIcon{
    background: url('../img/gerenciar_icon.png') no-repeat;
    border-style: none;
}

.usuariosIcon{
    background: url('../img/usuarios_icon.png') no-repeat;
    border-style: none;
}

.cursosIcon{
    background: url('../img/cursos_icon.png') no-repeat;
    border-style: none;
}

.homeIcon{
    background: url('../img/home_icon.png') no-repeat;
    border-style: none;
}

.descricaoIcon{
    background: url('../img/descricao_icon.png') no-repeat;
    border-style: none;
}

.forumIcon{
    background: url('../img/forum_icon.png') no-repeat;
    border-style: none;
}

.modulosIcon{
    background: url('../img/modulos_icon.png') no-repeat;
    border-style: none;
}

.moduloIcon{
    background: url('../img/modulo_icon.png') no-repeat;
    border-style: none;
}

.noticiasIcon{
    background: url('../img/noticias_icon.png') no-repeat;
    border-style: none;
}

.comentariosIcon{
    background: url('../img/comentarios_icon.png') no-repeat;
    border-style: none;
}

.destaquesIcon{
    background: url('../img/destaques_icon.png') no-repeat;
    border-style: none;
}

.parceirosIcon{
    background: url('../img/parceiros_icon.png') no-repeat;
    border-style: none;
}

.fotosIcon{
    background: url('../img/fotos_icon.png') no-repeat;
    border-style: none;
}
/*-----------------------------------------*/

/*-------------- INDEX ADMIN --------------*/
#index_admin{
    padding: 0 0 40px 0;
    border-bottom: 1px solid #cccccc;
}

#index_admin ul{
    padding: 0;
}

#index_admin a{
    text-decoration: none;
}

.list_index_admin_blue{
    height:40px;
    background-image: url('../img/list_blue_background.png');
    border:1px solid #cbdcea;
    margin: 10px;
}

.list_index_admin_gray{
    height:40px;
    background-color: #f0f0f0;
    border:1px solid #e4e4e4;
    margin: 10px;
}

.index_admin_detalhe_gray{
    height:1px;
    background-color: #ffffff;
}

.index_admin_detalhe_blue{
    height:1px;
    background-color: #edf7ff;
}

.index_admin_label_gray{
    margin: 10px;
    color:#616161;
    font-weight: bold;
    float:left;
    font-size: 15px;
}

.index_admin_label_blue{
    margin: 10px;
    color:#275175;
    font-weight: bold;
    float:left;
    font-size: 15px;
}

.index_admin_label_gray:hover, .index_admin_label_blue:hover{
    cursor: pointer;
}

#index_admin img{
    float:right;
    margin-top: 10px;
    margin-right: 15px;
}
/*-----------------------------------------*/

/*---------- BOTÕES DE GERÊNCIA -----------*/
.classeBotaoAdicionar{
    background: url('../img/botao_adicionar.png') no-repeat;
    border-style: none;
    height: 20px;
    width: 20px;
}

.classeBotaoAdicionar:hover{
    cursor: pointer;
}

.classeBotaoAdicionar:active{
    background: url('../img/botao_adicionar_active.png') no-repeat;
    border-style: none;
    height: 20px;
    width: 20px;
}

.classeBotaoExcluir{
    background: url('../img/botao_excluir.png') no-repeat;
    border-style: none;
    height: 20px;
    width: 20px;
}

.classeBotaoExcluir:hover{
    cursor: pointer;
}

.classeBotaoExcluir:active{
    background: url('../img/botao_excluir_active.png') no-repeat;
    border-style: none;
    height: 20px;
    width: 20px;
}

.classeBotaoEditar{
    background: url('../img/botao_editar.png') no-repeat;
    border-style: none;
    height: 20px;
    width: 20px;
}

.classeBotaoEditar:hover{
    cursor: pointer;
}

.classeBotaoEditar:active{
    background: url('../img/botao_editar_active.png') no-repeat;
    border-style: none;
    height: 20px;
    width: 20px;
}

.classeBotaoVisualizar{
    background: url('../img/botao_visualizar.png') no-repeat;
    border-style: none;
    height: 20px;
    width: 20px;
}

.classeBotaoVisualizar:hover{
    cursor: pointer;
}

.classeBotaoVisualizar:active{
    background: url('../img/botao_visualizar_active.png') no-repeat;
    border-style: none;
    height: 20px;
    width: 20px;
}

.classeBotaoGerenciar{
    background: url('../img/botao_gerenciar.png') no-repeat;
    border-style: none;
    height: 20px;
    width: 20px;
}

.classeBotaoGerenciar:hover{
    cursor: pointer;
}

.classeBotaoGerenciar:active{
    background: url('../img/botao_gerenciar_active.png') no-repeat;
    border-style: none;
    height: 20px;
    width: 20px;
}

/*-----------------------------------------*/

/*-- FORMULÁRIO DE CADASTRO, EDITAR E PROFILE --*/
#form_cadastro, #profile, #editar_dados_pessoais{
    margin: 0;
}

#form_editar{
    margin: 10px 30px 0 30px;
}

#form_cadastro tr, #form_editar tr{
    height: 35px;
}

form.form_cadastro, form.form_editar{
    font-family: tahoma,verdana,"sans-serif";
    font-size: 12px;
    width: 98%;
}

#form_cadastro .label_cadastro_legend, #form_editar .label_editar_legend{
    font-size: 11px;
    color: #555555;
}

#form_cadastro legend, #profile legend, #form_editar legend{
    font-size: 11px;
    color: #555555;
}

#form_cadastro fieldset, #profile fieldset, #form_editar fieldset{
    border:1px solid #DCDCDC;
}

#form_cadastro label.error, #form_editar label.error{
    float: none;
    color: red;
    margin: 8px 0 0 5px;
    vertical-align:top;
    font-size: 12px;
    position: absolute;
}

.label_cadastro, .label_profile, .label_editar, .label_pergunta{
    font-size: 13px;
}

/*.formulario{
    font-family: tahoma,verdana,"sans-serif";
    font-size: 12px;
    width: 98%;
}*/

.formulario legend{
    font-size: 11px;
    color: #555555;
}

.formulario fieldset{
    border:1px solid #DCDCDC;
}

.text-input{
    background: none repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #B5B8C8;
    border-radius: 8px 8px 8px 8px;
    color: #555555;
    font-size: 14px;
    margin-top: 4px;
    padding: 4px;
    width: 250px;
}

.text-area{
    background: none repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #B5B8C8;
    border-radius: 8px 8px 8px 8px;
    color: #555555;
    font-size: 14px;
    margin-top: 4px;
    padding: 4px; 
}

#foto_usuario{
    height: 120px;
    width: 100px;
    background-color: #DCDCDC;
    border: solid 1px #B5B8C8;
}

#profile tr{
    height: 25px;
}

/* PickList */

.botoes, .origem, .destino{
    float:left;
    display:inline; 
}

.botoes{
    display:block;
    width:60px;
}

#destino, #origem{
    display:block;
    width:150px;
}

#add{
    background: url('../img/picklist_direita.png') no-repeat;
    border-style: none;
    height: 20px;
    width: 33px;
    margin: 5px 13px;
}

#add:hover{
    cursor: pointer;
}

#add:active{
    cursor:pointer;
    position:relative;
    top:2px;
}

#remover{
    background: url('../img/picklist_esquerda.png') no-repeat;
    border-style: none;
    height: 20px;
    width: 33px;
    margin: 0 13px;
}

#remover:hover{
    cursor: pointer;
}

#remover:active{
    cursor:pointer;
    position:relative;
    top:2px;
}
/*-----------------------------------------*/

/*------------- BOTÃO TIPO 1 --------------*/
.button1{
    font:bold 13px Arial, Helvetica, sans-serif;
    font-style:normal;
    color:#3074c7;
    width:140px;
    padding:2px;
    cursor:pointer;
    margin:0 auto;
    background:#f2f2f2;
    border:0px solid #ffffff;
    text-shadow:-1px 1px 0px #fff;
    box-shadow:1px 1px 2px #AAA;
    -moz-box-shadow:1px 1px 2px #AAA;
    -webkit-box-shadow:1px 1px 2px #AAA;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
}

.button1:active{
    cursor:pointer;
    position:relative;
    top:2px;
}
/*-----------------------------------------*/

/*------------- BOTÃO TIPO 2 --------------*/
.button2{
    font:bold 14px Arial, Helvetica, sans-serif;
    font-style:normal;
    color: white;
    padding: 3px 15px;
    cursor:pointer;
    margin:0 auto;
    background-color: #0180B1;
    border: 1px solid #1b3952;    
    border-bottom: 1px solid #23496a;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 1px 1px 2px #03739E, inset 0 1px 0 0 #3871a1;
    -webkit-box-shadow:2px 2px 2px #888888, 0 1px 0 0 #3871a1 inset ;
    -moz-box-shadow:2px 2px 2px #888888, 0 1px 0 0 #3871a1 inset;
    -ms-box-shadow:2px 2px 2px #888888, 0 1px 0 0 #3871a1 inset;
    -o-box-shadow: 0 1px 0 0 #3871a1 inset;
}

.button2:active{
    cursor:pointer;
    position:relative;
    top:2px;
}
/*-----------------------------------------*/

/*------------- BOTÃO TIPO 3 --------------*/
.button3 {
    background: #fff;
    background-position: left center;
    border: #ddd 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 2px 2px 2px #EEEEEE;
    -webkit-box-shadow:2px 2px 2px #EEEEEE;
    -moz-box-shadow:2px 2px 2px #EEEEEE;
    -ms-box-shadow:2px 2px 2px #EEEEEE;
    -o-box-shadow: 2px 2px 2px #EEEEEE;
    color: #606060;
    cursor: pointer;
    padding: 1px 10px;
}

.button3:active{
    cursor:pointer;
    position:relative;
    top:2px;
}
/*-----------------------------------------*/

/*------------ BOTÃO ADICIONAR ------------*/
.btn_add {
    background: #fff;
    background-position: left center;
    margin: 5px;
    border: #ddd 1px solid;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px #EEEEEE;
    color: #606060;
    cursor: pointer;
    font-weight: 600;
    height: 25px;
}

.btn_add:active{
    cursor:pointer;
    position:relative;
    top:2px;
}
/*-----------------------------------------*/

/*------------- BOTÃO EDITAR --------------*/
.btn_edt {
    background: #fff;
    background-position: left center;
    float: right;
    margin: -3px 5px 0 0;
    border: #ddd 1px solid;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #EEE;
    color: #606060;
    cursor: pointer;
    font-weight: 600;
    height: 22px;
}

.btn_edt:active{
    cursor:pointer;
    position:relative;
    top:2px;
}
/*-----------------------------------------*/

/*------------- BOTÃO EXCLUIR -------------*/
.btn_del {
    background: #fff;
    background-position: left center;
    float: right;
    margin: -3px 5px 0 0;
    border: #ddd 1px solid;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #EEE;
    color: #606060;
    cursor: pointer;
    font-weight: 600;
    height: 22px;
}

.btn_del:active{
    cursor:pointer;
    position:relative;
    top:2px;
}
/*-----------------------------------------*/

/*------------ MENU ACCORDION -------------*/
.accord_body{
    cursor: pointer;
    z-index: 9999;
    overflow: auto;
}

.accord_content_body{
    box-shadow: 0px 2px 3px #eeeeee inset;
    -moz-box-shadow: 0px 2px 3px #eeeeee inset;
    -webkit-box-shadow: 0px 2px 3px #eeeeee inset;
}

.accord_list{
    border-bottom:1px solid #eeeeee;
    border-top:1px solid #fefefe;
    background-color: #fafafa;
    height: 30px;
}

.accord_list img{
    margin: 2px 0 0 5px;
}

.accord_ul li{
    overflow: auto;
}

.accord_label{
    margin: 7px 0 0 5px;
    position: absolute;
}

.accord_label_2{
    margin: 5px 10px 0 0;
    float: right;
}

.link_video{
    cursor: pointer;
}

.conteudo_row{
    border-top:1px solid #f2f2f2;
    height: 20px;
    padding: 5px 0 0 5px;
}

.conteudo_row a:hover, .conteudo_row label:hover{
    font-weight: bold;
    cursor: pointer;
}

.conteudo_row a, .conteudo_row a:hover, .conteudo_row a:active,.conteudo_row a:visited{
    text-decoration: none;
    color: #404040;
}

#menu_accordion ul{
    padding: 0;
    margin: 0;
}
/*-----------------------------------------*/

/*---------- GERENCIAR NOTÍCIAS -----------*/
.b_0{
    border-left: 3px solid rgb(127, 144, 208) !important;
}

.b_1{
    border-left: 3px solid rgb(127, 208, 139) !important;
}

.b_2{
    border-left: 3px solid rgb(205, 208, 127) !important;
}

.b_3{
    border-left: 3px solid rgb(175, 127, 208) !important;
}

.b_4{
    border-left: 3px solid rgb(208, 127, 127) !important;
}

.noticia, .comentario{
    border-bottom: 1px solid #ddd;
/*    border-top: 1px solid #ddd;*/
    padding:4px 15px;
}

.noticia *, .comentario *{
    margin: 0;
}

.noticia a, .comentario a{
    text-decoration: none;
    color: #404040;
}

.noticia:hover, .comentario:hover{
     box-shadow:0px 2px 4px #DDD inset;
    -moz-box-shadow:0px 2px 4px #DDD inset;
    -webkit-box-shadow:0px 2px 4px #DDD inset;
}
/*-----------------------------------------*/





/* CSS - página visualizar módulo */
/*.quadro_de_conteudo_especifico{
    margin:0px;
    margin-bottom:20px;
    border:0px solid #eeeeee;
    padding: 10px;
    color: #888888;
    box-shadow: 0px 2px 3px #eeeeee inset;
    -moz-box-shadow: 0px 2px 3px #eeeeee inset;
    -webkit-box-shadow: 0px 2px 3px #eeeeee inset;
}

ul{
    list-style: none;
}



#disposicao_conteudo_professor_editar_modulo{
    padding:20px;
}

#btn_editar_modulo{
    float:right;
    background-image: url('img/document_edit.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 24px;
    margin-left:8px;
}






#titulo_modulo{
    background: #ffffff;        
    border: 1px solid #e7e7e7;
    border-top:1px solid #f6f6f6;
    padding: 5px 12px;
    box-shadow: 0px 3px 3px #eeeeee ;
    -moz-box-shadow: 0px 3px 3px #eeeeee ;
    -webkit-box-shadow: 0px 3px 3px #eeeeee ;
}

.conteudo_row{
    overflow: auto;
    padding:1px 10px;
    border-bottom:1px solid #f2f2f2;
    border-top:1px solid #f2f2f2;
    cursor:pointer;
}

.conteudo_row h3{
    float:left;
    font-size:18px;
    font-weight: 600;
    line-height: 38px;
}*/

/*-----------------------------------------*/


/* CSS - página conteúdo módulo */
/*.quadro_de_conteudo_especifico{
    margin:0px;
    margin-bottom:20px;
    border:0px solid #eeeeee;
    padding: 10px;
    color: #888888;
    box-shadow: 0px 2px 3px #eeeeee inset;
    -moz-box-shadow: 0px 2px 3px #eeeeee inset;
    -webkit-box-shadow: 0px 2px 3px #eeeeee inset;
}

ul{
    list-style: none;
}

.quadro_de_conteudo_especifico ul{
    margin:0;
    padding: 0;
    list-style: none;
}

.quadro_de_conteudo_especifico ul li{
    color: #888888;
    background-color: #eeeeee;
    border:1px solid #e0e0e0;
    padding:4px;
}

.quadro_de_conteudo_especifico ul li:hover{
    border:1px solid black;

}

.quadro_de_conteudo_especifico ul a:hover,a:active,a:visited{
    text-decoration: none;
    outline: none;

}

#disposicao_conteudo_professor_editar_modulo{
    padding:20px;
}

#btn_editar_modulo{
    float:right;
    background-image: url('img/document_edit.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 24px;
    margin-left:8px;
}

.list_conteudo{
    border-bottom:1px solid #eeeeee;
    border-top:1px solid #fefefe;
    background-color: #fafafa;
}


.list_conteudo:first-letter{
    font-weight: 600;
}

.list_conteudo img{
    float:left; margin-right: 5px;
}

#titulo_modulo{
    background: #ffffff;
    border: 1px solid #e7e7e7;
    border-top:1px solid #f6f6f6;
    padding: 5px 12px;
    box-shadow: 0px 3px 3px #eeeeee ;
    -moz-box-shadow: 0px 3px 3px #eeeeee ;
    -webkit-box-shadow: 0px 3px 3px #eeeeee ;
}

.conteudo_row{
    overflow: auto;
    padding:1px 10px;
    border-bottom:1px solid #f2f2f2;
    border-top:1px solid #f2f2f2;
    cursor:pointer;
}

.conteudo_row h3{
    float:left;
    font-size:18px;
    font-weight: 600;
    line-height: 38px;
}*/
/*-----------------------------------------*/


/*#cursos_aluno{
    margin: 50px 30px 0 30px;
}

#cursos_aluno table{
    margin: 0 0 30px 0;
    padding: 5px;
    border: 1px solid #555555;
}*/

/*#imagem_curso{
    height: 180px;
    width: 240px;
    background-color: #DCDCDC;
    border: solid 1px #B5B8C8;
}

.patrocinador_holder{
    float:left;
    margin:5px;
}*/

/*.img_parceiro{
    height: 225px;
    width: 200px;
    margin:5px;
}*/
/*
#patrocinadores_gerencia{
    padding: 0px 20px;
}*/

/*#gerenciar_sistema{
    list-style: none;
}

#gerenciar_sistema a{
    text-decoration: none;
    color: #404040;
}
#gerenciar_sistema a:hover{
    text-decoration: none;
    color: #404040;
}
#gerenciar_sistema a:visited{
    text-decoration: none;
    color: #404040;
}
#gerenciar_sistema a:active{
    text-decoration: none;
    color: #404040;
}

#gerenciar_sistema li{
    float:left;
    position: relative;
    padding: 10px 40px;
    border-radius: 5px;
    margin-left:  20px;
    box-shadow:  1px 1px 3px #cccccc ;
}*/



/*#div_update label {
    display:block;width:100%;padding:10px 0;
}*/

/*.ui-dialog-titlebar{
    background-image: url('img/header_ead_background.png');
    background-repeat: repeat;
    height: 10px;
}*/


/*.accord{
    cursor: pointer;
    font-weight: 600;
    line-height: 100%;
}*/



/*.list_conteudo:first-letter{
    font-weight: 600;
}*/



/*.accord_body *{
    z-index: 0;
}*/

/*.accord *{
    font-weight: 600;
    line-height: 100%;
}*/



/*.ui-dialog-titlebar{
    background-image: url('img/header_ead_background.png');
    background-repeat: repeat;
    height: 10px;
}*/

/*.ui-dialog-titlebar{
    background-image: url('../img/header_ead_background.png');
    background-repeat: repeat;
    height: 20px;
}*/

/*#tabela_cursos_first{
    margin:0;
}*/

#div_conteudo_professor_editar_modulo{
    position: relative;
    padding-top:0px;
}

#div_conteudo_professor_editar_modulo h4{
    margin:0;
    padding:0;
}

#disposicao_conteudo_professor_editar_modulo{
    position: relative;
}

/*#center_content{
    padding-top:0px;
}*/

/* ----------------------- FÓRUM ------------------------*/
#voltar_forum{
    padding-bottom: 10px;
    text-decoration: none;
}

.topico_fundo{
    margin-top: 10px;
    background-color: #cbdcea;
    border:2px solid #81b3fe;
}

.topico_header{
    background-color: #81b3fe;
    color:white;
    padding:5px;
    box-shadow: 0px 3px 2px #aaaaaa;
}

.topico_header span{
    margin-left:10px;
}

.topico_header h2{
    margin-bottom: 5px;
}

.topico_header b{
    margin-left:5px;
}

.topico_mensagem{
    margin: 0px 20px;
}

.topico_header *{
    margin:0;
    color:white;
}

#respostas{
    padding-left:30px;
}

#fundo1{
    border:2px solid #cdcfb1;
}

.fundo1_header{
    background-color: #cdcfb1;
    box-shadow: 0px 3px 2px #aaaaaa;
    padding:5px;

}
.fundo1_header span{
    margin-left: 10px;
}
.fundo1_header b{
    margin-left: 5px;
}

.fundo1_mensagem{
    margin:0px 20px;
}

#fundo2{
    border:2px solid #b7e7d4;
}

.fundo2_header{
    background-color: #b7e7d4;
    box-shadow: 0px 3px 2px #aaaaaa;
    padding:5px;
}

.fundo2_header span{
    margin-left: 10px;
}
.fundo1_header b{
    margin-left: 5px;
}

.fundo2_mensagem{
    margin:0px 20px;
}
.topico_header{
    background-color: lightblue;
}
.topico_mensagens{
    background-color: #DCDCDC;
}

#fundo1{
    background-color: #eeeeee;
}
#fundo2{
    background-color: #edf7ff;
}
#forum_novo_topico, #forum_responder{
    font:bold 14px Tahoma, Geneva, sans-serif;
    font-style:normal;
    color:#ffffff;
    background:midnightblue;
    border:0px solid #7d7ca1;
    text-shadow:1px 1px 1px #222222;
    text-decoration: none;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
    width:90px;
    padding:12px 40px;
    cursor:pointer;
    margin-left: 20px;
}

#forum_novo_topico:active, #forum_responder:active{
    cursor:pointer;
    position:relative;
    width:88px;
    font:bold 13px Tahoma, Geneva, sans-serif;
}
#forum_novo_topico:hover, #forum_responder:hover{
    box-shadow:0px 0px 2px 1px grey;
    -moz-box-shadow:0px 0px 2px 1px grey;
    -webkit-box-shadow:0px 0px 2px 1px grey;
}