body {
    background-color: #EFEFEF;
    color: #404040;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.eadbiotran_topbar{
    background-color: #F5F5F5;
    border: 1px solid #BCBEC0;
    height: 40px;
    margin: 0;
    padding: 0;
}

.eadbiotran_navbar_container {
    float: right;
}

ul.eadbiotran_toplevel_nav {
    list-style-type: none;
    margin-right: 15px;
}

li.eadbiotran_top_item {
    color: #6D6E71;
    float: left;
    font-family: "sofiapro-medium",Arial,sans-serif;
    font-size: 15px;
    height: 30px;
    letter-spacing: 1px;
    margin-left: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
}

#banner_top{
    border-bottom: 2px solid #CCCCCC;
    height: 80px;
    min-width: 900px;
    overflow: hidden;
    background: url("../img/banner_bg.png") repeat-x scroll 0 0 transparent;
}

.eadbiotran_logo{
    padding-left: 16px;
    padding-top: 11px;
}

.content_fluid:after {
    clear: both;
}

.content_fluid:before, .content_fluid:after {
    content: "";
    display: table;
}

.content_fluid:before, .content_fluid:after {
    content: "";
    display: table;
}

.content_fluid{
    min-width: 940px;
    padding-left: 20px;
/*    padding-right: 20px;*/
    position: relative;
}

.content_fluid > .leftcolumn{
    left: 20px;
    position: absolute;
    top: 0;
    width: 220px;
}

.page-leftcolumn {
    padding-top: 25px;
}

.content_fluid > .content {
    margin-left: 240px;
}

.page-content {
    padding-top: 25px;
    background-color: #fff;
    min-height: 600px;
}

.navbar_home {
    background-repeat: no-repeat;
}

.navbar_item {
    font-size: 14px;
    padding-bottom: 4px;
    padding-left: 32px;
    padding-top: 4px;
}

p {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 9px;
}

a {
    color: #0069D6;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: none;
}

a:hover {
    color: #00438A;
    text-decoration: underline;
}

ul, ol {
    margin: 0 0 18px -22px;
}
ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}
ul {
    list-style: disc outside none;
}
ol {
    list-style: decimal outside none;
}
li {
    color: #404040;
    line-height: 18px;
}
ul.unstyled {
    list-style: none outside none;
    margin-left: 0;
}

#form_cadastro, #profile{
    padding: 20px 0 0 30px;
}

#form_cadastro tr{
    height: 35px;
}

#profile tr{
    height: 25px;
}

form.form_cadastro {
    font-family: tahoma,verdana,"sans-serif";
    font-size: 12px;
    margin: 0 auto;
}

.label_cadastro, .label_profile{
    font-size: 13px;
}

#form_cadastro .label_cadastro_legend{
    font-size: 11px;
    color: #555555;
}

#form_cadastro legend, #profile legend{
    font-size: 11px;
    color: #555555;
    
}

#form_cadastro fieldset, #profile fieldset{
    border:1px solid #DCDCDC;
}    

.form_cadastro .text-input, .profile .text-input {
    background: none repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #B5B8C8;
    color: #555555;
    font-size: 14px;
    margin-top: 4px;
    padding: 4px;
    width: 250px;
    border-radius: 8px;
}

#form_editar{
    padding: 20px 30px;
}

#foto_usuario{
    height: 120px;
    width: 100px;
    background-color: #DCDCDC;
    border: solid 1px #B5B8C8;
}

#opcoes_cadastro{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}